<a href="https://colab.research.google.com/github/anushriyayadav/Fast-Track-Python/blob/main/Fast_Track_Python_Day2_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Get the string from the user. convert the string into list

In [ ]:
str = input("enter string")
lst = list(str.split())
if " " in lst:
  lst.remove(" ")
if "," in lst:
  lst.remove(",")
print(lst)

Calculate the 2 to the power of 5

In [ ]:
base = 2
power = 5
for i in range (0,4):
  base *=2
print("2 to the power of 5",base)

Develop Arithmetic calculator based on user choice the program should perform arithmetic operation (Any 7 opeations)

In [ ]:
#+ - % / // * ^
a = int(input("enter a number"))
b = int(input("enter a number"))
c = 1
op = 1

while(op==1 or op ==2):
  operator = input("enter an operator")
  if op==2:
    a = int(input("enter a number"))
    b = int(input("enter a number"))
  if operator == "+":
    print ("addition = ",a+b)
  elif operator == "-":
    print ("Subtraction =",a-b)
  elif operator == "%":
    print ("Modulo = ",a%b)
  elif operator == "/":
    print ("Division = ",a/b)
  elif operator == "//":
    print ("True Division =",a//b)
  elif operator == "*":
    print ("Multiplication =",a*b)
  elif operator == "^":
    for i in range(0,b):
      c*=a;
    print (a,"to the power of",b," = ",c)
  else :
    print("Invalid Operator")
    break
  op = int(input("Enter 1 to perform another operation or 2 to change values and operator"))

Develop String Calculator based on user choice the program should perform string operations (Any 5 operations )

In [ ]:
string = input("Enter a String")
op = 1
while (op == 1 or op == 2):
  operator = input("Enter l for LowerCase, u for UpperCase, c for Count, s for Split and C for concat")
  
  if op == 2:
    string = input("Enter a String")
  if operator == "l":
    print(string.lower())
  elif operator == "u":
    print(string.upper())
  elif operator == "c":
    print(string.count(input("letter to count")))
  elif operator == "s":
    print(string.split())
  elif operator == "C":
    string2 = input("enter another string")
    print(string+string2)
  else:
    print("Invalid Input")
    break
  op = int(input("Enter 1 to perform another operation or 2 to change string and operator"))

Write a program to prompt the user for hours and rate per hour to compute gross pay.Take into account that the university gives the employee 2.5 times the hourly rate for hours worked above 50 hours.

In [ ]:
hrs = float(input("enter hrs worked"))
minlim = 50
rate  = float(input("enter per hr rate"))
if (hrs<=minlim):
  print("Gross pay = ",hrs*rate)
else:
  print(rate*minlim+(hrs-minlim)*rate*2.5)

Create a list called hobbies. Create a for loop that prompts the user for a hobby 3 times, then appends each one to hobbies in the list

In [ ]:
hobbies = []
for i in range(0,3):
  hobbie = input("enter your hobbie")
  hobbies.append(hobbie)
print(hobbies)

Write a Python program to check whether the given integer is a multiple of both 5 and 7 .

In [ ]:
integer = int(input("enter a number"))
if (integer % 5 == 0 and integer % 7 == 0):
  print(integer , "is multiple of both 5 and 7")
else:
  print(integer , "is not a multiple of both 5 and 7")

Find the error and correct the mistakes 
the main idea of this code is to print the data from the dictionary (Data structure)

In [42]:
phone_book = {
'John' : [ '8592970000', 'john@xyzmail.com', 'Humpi' ],
'Bob': [ '7994880000', 'bob@xyzmail.com','Manipal' ],
'Tom' : [ '9749552647' , 'tom@xyzmail.com','Udupi' ]}

for k,v in phone_book.items(): 
  print(k, ":", v)

John : ['8592970000', 'john@xyzmail.com', 'Humpi']
Bob : ['7994880000', 'bob@xyzmail.com', 'Manipal']
Tom : ['9749552647', 'tom@xyzmail.com', 'Udupi']

Print all the numbers between 2 and 8

In [48]:
list = [i for i in range(10) if (i < 8) and (i > 2) ]
print(list)

[3, 4, 5, 6, 7]

find the bug
Suppose you are trying to compute a signal-to-noise ratio in decibels. The formula is SNRdb = 10log10(Psignal /Pnoise).

In [52]:
import math
signal_power = 9
noise_power = 10
ratio = signal_power / noise_power
print(ratio)
decibels = 10 * (math.log10(ratio))
print (decibels)

0.9
-0.4575749056067512

Check whether the number is present in the list or not

In [55]:
a = int(input("enter a number"))
list = [1, 2, 3, 4, 5 ]
# in is used to check whether the member is present or not 
if a in list :
  print(a,"is present in the list")
else: 
  print(a,"is not present in the list")
  # fill the blanks

enter a number10
10 is not present in the list

check whether the number is same or not 
use of identity opeartor is 
find the bug

In [58]:
a=10
b=20 
if ( a is not b ):
  print ("a and b do not have same identity")
else:
  print ("a and b have same identity")

a and b do not have same identity

# Find the bug 

# Prints out 0,1,2,3,4 using while loop

In [74]:
count = 0
while True:
    print(count  ,end=",")
    count +=1
    if count >= 5:
      break

0 1 2 3 4

Prints out only even numbers - 2,4,6,8,10 using for loop and continue
find the bug

In [77]:

for x in range(11):
    # Check if x is even
    if not x % 2 == 0:
        continue
    print(x,end=",")

0,2,4,6,8,10,

Printing even and odd numbers using for loop and ternary operator
find the bug

In [82]:


for i in range(10):
    (print(i , " is even number") if(i % 2 == 0) else print(i , " is odd number"))

0  is even number
1  is odd number
2  is even number
3  is odd number
4  is even number
5  is odd number
6  is even number
7  is odd number
8  is even number
9  is odd number

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 5 and 4570 (both included).

In [ ]:
for i in range(5,4571):
  if(i%7==0 and i%5!=0):
    print(i)

Write a program which accepts input to convert the temperature from one unit to another based on user choice 
fahrenheit to celsius or celsius to fahrenheit until they say "Quit".

Hint: infinite loop

In [ ]:
choise = input("enter c or f")
temp = int(input("enter temperature"))
while (True):
  if choise=="c":
    temp=temp*9/5+32
    print(temp,"F")
    choise = "f"
  else:
    temp=(temp-32)*5/9
    print(temp,"C")
    choise = "c"

Write a program that converts the temperature in Celsius to Fahrenheit. Have the program output two columns. In the first column, it prints out the temperature in Celsius, and the second in Fahrenheit. Have the data print out all integer values of Celsius from 0 to 100 in 3 degree increments. Have the data print out the Fahrenheit to 1 decimal

In [4]:

for i in range(0,101,4):
  temp = i*9/5+32
  print(i,"C","\t",temp,"F")

0 C 	 32.0 F
4 C 	 39.2 F
8 C 	 46.4 F
12 C 	 53.6 F
16 C 	 60.8 F
20 C 	 68.0 F
24 C 	 75.2 F
28 C 	 82.4 F
32 C 	 89.6 F
36 C 	 96.8 F
40 C 	 104.0 F
44 C 	 111.2 F
48 C 	 118.4 F
52 C 	 125.6 F
56 C 	 132.8 F
60 C 	 140.0 F
64 C 	 147.2 F
68 C 	 154.4 F
72 C 	 161.6 F
76 C 	 168.8 F
80 C 	 176.0 F
84 C 	 183.2 F
88 C 	 190.4 F
92 C 	 197.6 F
96 C 	 204.8 F
100 C 	 212.0 F